@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary: #F1A5B1;
    --color-white: #FFFFFF;
    --color-black: #0B0A0A;

    --text-fontSize: clamp(1rem, 0.8298rem + 0.8511vw, 1.5rem);
    --title-fontSize: clamp(2.5rem, 1.9894rem + 2.5532vw, 4rem);
    --author-fontSize: clamp(1rem, 0.9149rem + 0.4255vw, 1.25rem);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('../Images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

header{
    padding: 48px 20px;
    max-width: 1216px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer{
    min-width: 101px;
    max-width: 166px;
}

.logo{
    width: 100%;
    height: auto;
}

.iconsContainer ul{
    display: flex;
    gap: 24px;
}

.iconsContainer ul li{
    list-style: none;
    min-width: 24px;
    max-width: 40px;
}

.iconLink{
    text-decoration: none;
}

.icon{
    width: 100%;
    height: auto;
}

main{
    padding-inline: 24px;
    max-width: 1216px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.mainAbout{
    max-width: 502px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mainText{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mainTitles{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 445px;
}

.author{
    font-family: "Open Sans", serif;
    font-size: var(--author-fontSize);
    font-weight: 700;
    line-height: 136%;
    color: var(--color-white);
}

.title{
    font-family: "Andada Pro", serif;
    font-size: var(--title-fontSize);
    font-weight: 800;
    color: var(--color-white);
    line-height: 110%;
}

.content{
    font-family: "Archivo", serif;
    font-size: var(--text-fontSize);
    font-weight: 500;
    line-height: 150%;
    color: var(--color-white);
}

.mainButtons{
    display: flex;
    gap: 32px;
}

.playNow{
    background-color: var(--color-primary);
    padding: 14px 32px;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
}

.playText{
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--color-black);
}

.playTrailer{
    padding: 14px 30px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    width: 100%;
}

.trailerText{
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--color-white);
}

.ilustracaoContainer{
    max-width: 646px;
    max-height: 615px;
} 

.ilustracao{
    width: 100%;
    height: 100%;
} 

@media (max-width: 930px) {
    .logoContainer{
        max-width: min(166px, 18.6%);
    }
}

@media (max-width: 800px) {
    body{
        height: 100%;
        background-position: center;
        background-color: black;
    }

    header{
        padding: 32px;
    }

    .iconsContainer ul li{
        min-width: 24px;
        max-width: min(40px, 13.8%);
    }

    main{
        flex-direction: column-reverse;
        padding-bottom: 24px;
    }

    .mainButtons{
        flex-direction: column;
    }

    .ilustracaoContainer{
        max-width: 399px;
        max-height: 433px;
    } 
}

@media (max-width: 500px) {
    header{
        justify-content: center;
    }

    .iconsContainer{
        display: none;
    }
}